body {
    background-color: #1a1a1a;
    color: #fff2f2;
    overflow: hidden;
}



.center-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin: 4.75vh;
    padding:20px;
    font-size: 2rem;
    border: 1px solid #fff2f2;
    border-radius: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}
